@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 224.3 76.3% 48%;
  --radius: 0.75rem;
}

body {
  @apply bg-background text-foreground antialiased;
}

.prose pre {
  @apply rounded-lg border border-border bg-slate-950 text-slate-100;
}
